<!DOCTYPE html>
<html>
  <head>
    <title>StaticWebsite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    This code comes from application.html.erb
    <%= putName_Custom_Helper_function %>
    <%= yield %>
  </body>
</html>
